.super-mario {
    width: 100px;
    position: absolute;
}

.goomba {
    position: absolute;
    width: 100px;
    top: 230px;
}

.baloon {
    position: absolute;
    width: 100px;
    top: 140px;
    left: 140px;
}

.speach {
    position: absolute;
    top: 135px;
    left: 152px;
    font-size: 15px;
    z-index: 1;
}

.bowser {
    position: absolute;
    left: 220px;
    top: 190px;
    width: 200px;
}